CREATE DATABASE [MagazinDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MagazinDB', FILENAME = N'E:\SQL\MagazinDB.mdf' , SIZE = 5120KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MagazinDB_log', FILENAME = N'E:\SQL\MagazinDB_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [MagazinDB]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [MagazinDB] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
